/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    color: #1D5962;
}

h1, h2, h3 {
    Font-Family: 'Roboto', Sans-Serif;
}

p, a {
    Font-Family: 'Lora', Serif;
}

.container {
    padding: 2rem 1.5rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

a:hover {
    color: #1F226B;
}

.mobile {
    display: none;
}

/* Header */

header {
    height:4rem;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(253, 241, 231, 0.95);
}

.icon-navbar {
    margin-left: 1.5rem;

}

header .logo {
    position: absolute;
    top: 0%;
    height: 2rem;
    margin-top: 1.1rem;
}

header h1 {
    position: relative;
    left: 2rem;
}

header .logo, header h1 {
    display: inline-block;
} 

header nav li, footer nav li {
    display: inline;
    margin-left: 1rem;
}

.text-navbar {
    margin-right: 1.5rem;
}

main {
    margin-top: 4rem;
}

/* Intro */

.intro {
    display: flex;
    align-items: center;
    color: #FDF1E7;
    background-color: #1D5962;
}

.learn{
    display: block;
    padding-right: 5rem;
    background-color: #1D5962;
}

.learn h2 {
    padding-bottom: 2rem;
}

.learn p{
    padding-bottom: 1.5rem;
}

.intro img {
    width: 60%;
    height: auto;
    display: block;
    padding-right: 1.5rem;
}

.button {
    display: block;
    padding: 0.5rem;
    text-align: center;
    background-color: #FDF1E7;
    color: #1D5962;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 2s; background-color 2s;
    border-radius: .5rem;
}

.button:hover {
    color: #FDF1E7;
    background-color: #20445F;
}

/* Info */

.info {
    display: flex;
    flex-wrap: wrap;
    background-color: #FDF1E7;
}

.left {
    width: 60%;
    overflow: hidden;
    padding-right: 1.5rem;
}

.left img {
    max-width: 100%;
    height: auto;
    display: block;
    padding-bottom: 2rem;
}

.left h2 {
    padding-bottom: 1.5rem;
}

.left .quote {
    font-style: italic;
}

.left .author {
    padding-top: 2rem;
}

.right {
    width: 40%;
}

.box {
    display: flex;
    align-items: center;
    border: solid #1D5962 1px;
    padding: 1rem;
}

.box:hover {
    color: #FDF1E7;
    background-color: #1D5962;
}

.box img {
    width: 35%;
    overflow: hidden;
    height: auto;
}

.box .desktop {
    max-width: 100%;
    display: block;
    height: auto;
}

.box .text {
    width: 65%;
    padding: 1rem;
}

.box .text * {
    margin-bottom: 0.5rem;
}


/* Academics */

.academics {
    background-color: #1D5962;
    color: #FDF1E7;
}

.academics h2 {
    text-align: center;
    padding-bottom: 1rem;
}

.majors-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.major {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
    padding-bottom: 1.5rem;
    width: 30%;
    color: #1D5962;
    background-color: #FDF1E7;
}

.major img {
    max-width: 100%;
    display: block;
}

.major h3 {
    padding: 1rem;
}

.courses {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}

.classes {
    padding: 0 1rem;
}

/* Thesis */

.thesis {
    background-color: #FDF1E7;
}

.thesis h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.thesis h3 {
    padding-bottom: .5rem;
}

.exhibit {
    display: flex;
    flex-wrap: wrap;
}

.left video {
    max-width: 100%;
    height: auto;
    display: block;
    padding-bottom: 1.5rem;
}

/* Footer */

footer {
    height: 4rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: #FDF1E7;
}

footer nav {
    display: inline-block;
}

/* Media Queries */

@media only screen and (max-width: 600px) {

    .mobile {
        display: initial;
    }

    .desktop {
        display: none;
    }

    .container {
        padding: 2rem 1rem;
    }

    header .logo {
        position: static;
        margin-top: 0rem;
    }

    .icon-navbar {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    /* Intro Media Query */

    .intro {
        padding: 0;
        display: contents;
    }

    .intro img {
        width: 100%;
        padding-right: 0rem;
    }

    .learn {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }

    /* Info Media Query */

    .info {
        padding-top: 0;
    }

    .left .desktop {
        display: none;
    }

    .box .desktop {
        display: none;
    }
    
    .info .right {
        width: 100%;
    }

    .box {
        display: block;
        border: none;
        padding: 0;
    }

    .box:hover {
        color: #1D5962;
        background-color: #FDF1E7;
    }
    
    .box img {
        width: 100%;
        padding: 1rem 0 1rem 0;
        margin: auto;
    }
    
    .box .mobile {
        max-width: 100%;
        display: initial;
    }

    .box .text {
        padding: 1rem 1rem 3rem 1rem;
        width: 100%;
    }

    .box .lecture {
        padding-bottom: 0;
    }

    /* Academics Media Query */

    .majors-container {
        display: contents;
    }

    .majors-container img {
        display: none;
    }

    .major {
        width: 100%;
        min-height: auto;
        margin: 0 0 0.5rem 0;
        padding-bottom: 0.5rem;
        color: #FDF1E7;
        background-color: #20445F;
        border-radius: .5rem;
    }

    .marketing {
        margin: 0;
    }

    .academics {
        color: #FDF1E7;
        background-color: #1D5962;
    }

    /* Thesis */

    .exhibit .left {
        width: 100%;
        padding-right: 0;
    }

    .thesis {
        padding: 2rem 0 1.5rem 0;
    }

    .thesis h2 {
        padding-bottom: 1rem;
    }


    /* Footer Media Query */

    footer p {
        margin: auto;
    }

}

@media screen and (min-width: 600px) {
    .major {
      height: 20rem;
    }
}

@media screen and (min-width: 898px) {
    .major {
      height: 21rem;
    }
}

@media screen and (min-width: 1136px) {
    .major {
      height: 22rem;
    }
}

@media screen and (min-width: 1374px) {
    .major {
      height: 23rem;
    }
}

@media screen and (min-width: 1478px) {
    .major {
      height: 24rem;
    }
}

@media screen and (min-width: 1583px) {
    .major {
      height: 25rem;
    }
}

@media screen and (min-width: 1687px) {
    .major {
      height: 26rem;
    }
}

@media screen and (min-width: 1791px) {
    .major {
      height: 27rem;
    }
}