/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.container {
    padding: 2rem 1.5rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.mobile {
    display: none;
}

/* Header */

header {
    height:4rem;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.icon-navbar {
    margin-left: 1.5rem;

}

header.logo, header h1 {
    display: inline-block;
} 

header nav li, footer nav li {
    display: inline;
    margin-left: 1rem;
}

.text-navbar {
    margin-right: 1.5rem;
}

main {
    margin-top: 4rem;
}

/* Intro */

.intro {
    display: flex;
    align-items: center;
    background-color: gray;
}

.learn{
    display: block;
    padding-right: 5rem;
}

.learn h2 {
    padding-bottom: 2rem;
}

.learn p{
    padding-bottom: 1.5rem;
}

.intro img {
    width: 60%;
    height: auto;
    display: block;
    padding-right: 1.5rem;
}

.button {
    display: block;
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(12, 62, 82);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
}

/* Info */

.info {
    display: flex;
    flex-wrap: wrap;
}

.left {
    width: 60%;
    overflow: hidden;
    padding-right: 1.5rem;
}

.left img, .left video {
    max-width: 100%;
    height: auto;
    display: block;
    padding-bottom: 2rem;
}

.left h2 {
    padding-bottom: 1.5rem;
}

.left .quote {
    font-style: italic;
    padding-bottom: 2rem;
}

.right {
    width: 40%;
}

.box {
    display: flex;
    align-items: center;
    border: solid rgba(187, 223, 223, 0.4) 1px;
    padding: 1rem;
}

.box img {
    width: 35%;
    overflow: hidden;
    height: auto;
}

.box .desktop {
    max-width: 100%;
    display: block;
    height: auto;
}

.box .text {
    width: 65%;
    padding: 1rem;
}

.box .text * {
    margin-bottom: 0.5rem;
}


/* Academics */

.academics h2 {
    text-align: center;
    padding-bottom: 1rem;
}

.majors-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.major {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
    padding-bottom: 1.5rem;
    width: 30%;
    min-height: 20rem;
}

.major figure {
    max-width: 33.25rem;
    height: 100%;
    overflow: hidden;
}

.major img {
    max-width: 100%;
    height: auto;
    display: block;
}

.major h3 {
    padding: 1rem;
}

.courses {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}

.classes {
    padding: 0 1rem;
}

/* Thesis */

/* Footer */

footer {
    position: relative;
    top: 4rem;
    height: 4rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

footer nav {
    display: inline-block;
}

/* Media Queries */

@media only screen and (max-width: 600px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }

    .container {
        padding: 2rem 1rem;
    }

    .icon-navbar {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    /* Intro Media Query */

    .intro {
        padding: 0;
        display: contents;
    }

    .intro img {
        width: 100%;
        padding-right: 0rem;
    }

    .learn {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }

    /* Info Media Query */

    .info {
        padding-top: 0;
    }

    .left {
        display: none;
    }

    .box .desktop {
        display: none;
    }
    
    .info .right {
        width: 100%;
    }

    .box {
        display: block;
        border: none;
        padding: 0;
    }
    
    .box img {
        width: 100%;
        padding: 1rem 0 1rem 0;
        margin: auto;
    }
    
    .box .mobile {
        max-width: 100%;
        display: initial;
    }

    .box .text {
        padding: 1rem 1rem 3rem 1rem;
        width: 100%;
    }

    .box .lecture {
        padding-bottom: 0;
    }

    /* Academics Media Query */

    .majors-container {
        display: contents;
    }

    .majors-container img {
        display: none;
    }

    .major {
        width: 100%;
        min-height: auto;
        margin: 0 0 0.5rem 0;
        padding-bottom: 0.5rem;
        background-color: rgb(187, 223, 223);
    }

    .marketing {
        margin: 0;
    }

    .academics {
        background-color: rgba(255, 255, 255, 0.8);
    }



    /* Footer Media Query */

    footer p {
        margin: auto;
    }

  }